@model Pupil
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Add</h1>

@if (ViewBag.PupilAddError != null)
{
        <div class="alert alert-danger" role="alert">
        @ViewBag.PupilAddError
        </div>
}

<form asp-controller="Pupil" asp-action="Add" method="post">
    <input type="text" name="PupilName" placeholder="Öğrenci Adı Giriniz" /><br /><br />
    <input type="text" name="PupilSurname" placeholder="Öğrenci Soyadı Giriniz" /><br /><br />
    <input type="email" name="Email" placeholder="Email Giriniz" /><br /><br />
    <input type="password" name="Password" placeholder="Şifre Giriniz" /><br /><br />
    <select class="custom-select" name="Gender">
        <option selected>Cinsiyet Seçiniz</option>
        <option value="Erkek">Erkek</option>
        <option value="Bayan">Bayan</option>
    </select>
    <input type="submit" value="Kaydet" class="btn btn-success" />
</form>